
@font-face {
	font-family: 'GT-Eesti';
	src: url("../fonts/GT-Eesti-Pro-Text-Light.woff2") format("woff2");
	src: url("../fonts/GT-Eesti-Pro-Text-Light.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Light.ttf") format("truetype");
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: 'GT-Eesti';
	src: url("../fonts/GT-Eesti-Pro-Text-Regular.woff2") format("woff2");
	src: url("../fonts/GT-Eesti-Pro-Text-Regular.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Regular.ttf") format("truetype");
	font-weight: 500;
	font-style: normal
}

@font-face {
	font-family: 'GT-Eesti';
	src: url("../fonts/GT-Eesti-Pro-Text-Medium.woff2") format("woff2");
	src: url("../fonts/GT-Eesti-Pro-Text-Medium.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Medium.ttf") format("truetype");
	font-weight: 600;
	font-style: normal
}

@font-face {
	font-family: 'GT-Eesti';
	src: url("../fonts/GT-Eesti-Pro-Text-Bold.woff2") format("woff2");
	src: url("../fonts/GT-Eesti-Pro-Text-Bold.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal
}


*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: black;
	list-style: none;
	font-family: "GT-Eesti";

}

.wrapper{
	width: 77%;
	height: 100%;
}

#main{
	display: flex;
	/* width: 100%; */
	height: 100vh;
	justify-content: center;
	background-image: url(../images/slide-01.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	background-position:top;
}

#main .wrapper{
	position: relative;
}

header{
	background-color: transparent;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

header h1{
	width: fit-content;
	float: left;
	text-transform: uppercase;
	font-size: 40px;
	font-family: "GT-Eesti";
	font-weight: bolder;

}
header h1 a{
	color: white;
}


header nav{
	/* line-height: 100px; */
}

header nav ul{
	float: right;
	margin: 0;
	padding: 0;	
	display: flex;
	gap: 40px;
	align-items: center;
}

header nav ul li a{
	font-weight: lighter;
	color: white;
	white-space: nowrap;

}

nav ul li{
	padding: 0;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 500;
	font-stretch: ultra-expanded;
	color: white;
	letter-spacing: 2px;
}

nav ul li #srch{
	background-color: rgb(255, 255, 255);
	color:green;
	box-sizing: border-box;
	width: 54px;
	height: 54px;
	padding: 15px;
	font-size: 22px;
}
header button{
	width: 50px;
	height: 50px;
	border-radius: 10px;
	background-color: transparent;
	border: none;
	font-size: 25px;
	position: absolute;
	right:0%;
	top:-70px;
	display: flex;
	justify-content: center;
	align-items: center;
}
header button i{
	color: rgb(255, 255, 255);
	font-size: larger;
}
header button:hover {
	background-color: rgba(0, 0, 0, 0.576);
}


.spotlight{
	display: flex;
	flex-direction: column;
	height: 80%;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.spotlight h3{
	color: white;
	font-size: 24px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
}

.spotlight h3 b{
	color:white;
}

.spotlight h2{
	color: white;
	font-weight: 400;
	text-transform: capitalize;
	font-size: 50px;
	text-align: center;
	letter-spacing: 3px;
	margin: 40px 0px ;
}

.spotlight ul{
	display: flex;
	gap: 20px;
	margin-top: 20px;
}
.spotlight ul button{
	box-sizing: content-box;
	padding: 14px 38px;
	border-radius: 50px;
	border: 3px solid white;
	color: white;
	letter-spacing: 0.1rem;
	font-size: 17px;
	background-color: transparent;
	text-transform: uppercase;
}
.spotlight ul .active button{
	background-color: white;
	color: green;
}

#main .down-button{
	box-sizing: border-box;
	height: 70px;
	width: 70px;
	border-radius: 50%;
	border: none;
	background-color: rgb(0, 164, 0);
	right:45%;
	bottom: -3%;
}

#main .down-button i{
	font-size: 25px;
	color: white;
}



/* -------------------about -------------------- */
#about{
	display: flex;
	width: 100%;
	justify-content: center;
	padding:150px 0px;
	position: relative;

}

#about .left{
	width: 48%;
	float: left;
}

#about .left h5{
	font-size: 22px;
	font-weight: lighter;
	margin-bottom: 30px;
	text-transform: uppercase;
	color: green;
}

#about .left h4{
	font-size: 45px;
	margin-bottom: 40px;
	letter-spacing: 1.5px;
}

#about .left ul{
	font-size: 20px;
	display:flex;
	flex-wrap: wrap;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 50px;


}


#about .left ul li{
	width: 40%;
	display: flex;
	align-items: center;
	margin: 0px 0px 28px 0;
	letter-spacing: 1.3px;
	white-space: nowrap;
}

#about .left ul .space{
	margin-right: 50px;
}
#about .left ul li img{
	width: 60px;
	margin-right:20px ;
}

#about .left button{
	padding: 18px 35px;
	border-radius: 35px;
	border: none;
	background-color: rgb(8, 203, 8);
	color: white;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 1.5px;
	text-transform: uppercase;
}

#about .left button i{
	color: white;
}

#about .right{
	width: 51%;
	float: right;
	padding-top: 55px;
}

#about .right p{
	font-size: 24px;
	line-height: 1.5;
	margin-bottom: 30px;
	text-align: justify;
	color: rgb(121, 118, 118);
}
#about .right p a{
	color: rgb(88, 88, 248);
}
hr{
	position: absolute;
	width: 75%;
	bottom: -20%;
	border: 2px solid;	
	border-color: rgb(228, 228, 228);
}

/* -----------------------------end about ----------------------- */


/* ---------------------------- features --------------------------- */

#features{
	display: flex;
	width: 100%;
	height: auto;
	justify-content: center;
	padding: 200px 0px;

}
#features .wrapper{
	display: flex;
	gap: 40px;
	justify-content: space-between;
}

#features .item{
	width: 30%;
	display: flex;
}
#features .item img{
	width: auto;
	height: 55px;
}
#features ul{
	margin-left: 30px;
}

#features .item h4{
	font-size: 22px;
	text-transform: uppercase;
	margin-bottom: 15px;
	white-space: nowrap;
}
#features .item p{
	font-size: 22px;
	/* letter-spacing: 1.5; */
	line-height: 29px;
	color: rgb(107, 104, 104);
	margin-bottom: 30px;
}
#features .item a{
	font-size: 18px;
	font-weight: 800;
	letter-spacing: 1.3px;
	text-transform: uppercase;
}


/* ----------------------newsletters ------------------ */

#newsletters{
	display: flex;
	width: 100%;
	height: auto;
	justify-content: center;
	padding: 150px 0px;
	background-image: url(../images/slide-02.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#newsletters .subcribe{
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}

#newsletters h5{
	font-size: 21px;
	margin: 90px 0px 30px 0px;
	text-transform: uppercase;
	color: white;
	letter-spacing: 1.4px;
	font-weight: 400
}

#newsletters h4{
	font-size: 45px;
	margin-bottom: 10px;
	color: white;
	text-align: center;
}

#newsletters p{
	font-size: 24px;
	text-align: center;
	color: white;
	margin: 40px 0px;
	line-height: 33px;
}

#newsletters ul{
	display: flex;
	width: 100%;
	gap: 30px;
	margin-bottom: 80px;
	align-items: center;
	justify-content: center;
}

#newsletters ul .qwer{
	width: 60%;
}


#newsletters ul input{
	width: 95%;
	height: 43px;
	padding: 0px 20px;
	font-size: 20px;
	border-radius: 50px;
	border: 1px solid;
	border-color: white;
	color: white;
	outline: none;
	background-color: transparent;
	
}
#newsletters ul button{
	font-size: 16px;
	font-weight: 500;
	height: 45px;
	padding:0px 28px ;
	text-transform: uppercase;
	letter-spacing: 1.6px;
	border: none;
	color: rgb(27, 196, 27);
	border-radius: 50px;
	white-space: nowrap;
}



/* ------------------- project ---------------------- */

#project{
	display: flex;
	width: 100%;
	height: auto;
	justify-content: center;
	padding: 150px 0px;
}

#project .wrapper{
	display: flex;
	justify-content: space-between;
}
#project .left{
	width: 30%;
}
#project .left h5{
	font-size: 23px;
	font-weight: 500;
	color: rgb(25, 198, 25);
	margin-bottom: 30px;
	text-transform: uppercase;
}
#project .left h4{
	font-size: 50px;
	/* white-space: nowrap; */
}
#project .left ul{
	margin-top: 80px;

}
#project .left ul li{
	text-transform: uppercase;
	margin: 47px 0px;
	letter-spacing: 1.5px;
	font-weight: 500;
}
#project .left ul li a{
	color: rgb(155, 154, 154);
}


#project .left ul li .active{
	color: rgb(15, 207, 15);
}


#project .right{
	gap: 16px;
	right: 0px;
	width: 68%;
	margin-top: 75px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: space-between;
}

#project .right .image{
	width: 100%;
	height: auto;
}

#project .right .image img{
	width: 100%;
}


/* ----------------- team ----------------- */

#team{
	display: flex;
	width: 100%;
	height: auto;
	justify-content: center;
	margin: 150px 0px 0px 0px;
	background-image: url(../images/slide-03.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 100px 0px;
}

#team .wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
}
#team h5{
	font-size: 25px;
	text-transform: uppercase;
	margin: 20px 0px;
	color: white;
}

#team h4{
	font-size: 50px;
	margin-bottom: 80px;
	color: white;
	text-align: center;

}


#team .wrapper .members{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 140px;
}

#team .members ul{
	width: 31.5%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#team .members ul img{
	width: 100%;
	height: auto;
}
#team .members ul h6{
	font-size: 22px;
	text-transform: uppercase;
	color: white;
	margin: 20px 0px;
	letter-spacing: 1.4px;
}
#team .members ul p{
	font-size: 17px;
	text-transform: uppercase;
	color: white;
	letter-spacing: 1.4px;
	

}


/* -------------- contact ----------------- */

#contact{
	display: flex;
	width: 100%;
	height: auto;
	justify-content: center;
	background-image: url(../images/dotted-map-bg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size:70%;
	padding: 120px 0px 0px 0px;
}

#contact .wrapper{
	display: flex;
	justify-content: space-between;

}

#contact .left h5{
	font-size: 21px;
	color: rgb(18, 169, 18);
	text-transform: uppercase;
	letter-spacing: 1.4px;
	margin: 20px 0px;
	font-weight: 400;

}
#contact .left h4{
	font-size: 50px;
}
#contact .left ul{
	margin-top: 50px;
	
}
#contact .left li{
	display: flex;
	align-items: center;
	margin-bottom: 35px;
	font-size: 21px;
	font-weight: 600;
}
#contact .left li img{
	height: 60px;
	width: auto;
}
#contact .left li a{
	padding-left: 20px;
}


#contact .left{
	width: 35%;
}


#contact .right{
	width: 68%;
	margin-top: 70px;
	float: right;
}

#contact .right .input-space{
	margin-right: 7%;
}


#contact .right input{
	box-sizing: border-box;
	width: 46%;
	height: 50px;
	margin-bottom: 40px;
	padding-left: 20px;
	font-size: 21px;
	border: 1px solid;
	border-color: rgb(195, 195, 195);
	color: rgb(123, 118, 118);
	outline: none;

}
#contact .right [name=msg]{
	box-sizing: border-box;
	width: 100%;
	height: 180px;
	padding: 20px;
	resize: none;
	font-size: 21px;
	color: rgb(123, 118, 118);
	border: 1px solid;
	border-color: rgb(195, 195, 195);
	outline: none;
}

#contact .right button{
	margin: 60px 0px;
	padding: 20px 35px;
	font-size: 17px;
	font-weight: 600;
	letter-spacing: 1.5px;
	border-radius: 50px;
	border: none;
	background-color: rgb(13, 201, 13);
	color: white;
	text-transform: uppercase;
}
#contact .right button i{
	color: white;
	padding-left: 5px;
	font-size: 20px;
}


/* ----------------- footer -------------------- */

footer{
	display: flex;
	width: 100%;
	height: auto;
	justify-content: center;
	margin-top: 80px;
	padding: 100px 0px;
	background-image: url(../images/banner-bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

footer .left{
	float: left;
	font-size: 20px;
	color: white;
	align-items: center;
}

footer .left i{
	color: white;
}

footer .wrapper .right{
	display: flex;
	float: right;
	align-items: center;
}
footer .wrapper .right p{
	font-size: 20px;
	float: left;
	text-transform: uppercase;
	color: white;
	margin-right: 20px;
}
footer .wrapper .right ul{
	display: flex;
}
footer .wrapper .right ul li{
	width: 40px;
	height: 40px;
	background-color: white;
	border-radius: 50%;
	margin-right: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
}

footer .wrapper .right ul li i{
	color: rgb(13, 187, 13);
}


@media screen and (max-width:1440px){
	.wrapper{
		width: 83%;
	}
	header h1{
		font-size: 35px;
	}
	header nav ul{
		gap:35px;
	}
	header nav ul li{
		font-size: 16px;
	}
	nav ul li #srch{
		width: 40px;
		height: 40px;
		padding: 10px;
	}
	.spotlight h3{
		font-size: 22px;
	}
	.spotlight h2{
		font-size: 45px;
	}
	.spotlight ul button{
		padding: 12px 34px;
		font-size: 15px;
	}
	#about .left{
		width: 42%;
	}
	#about .left h4{
		font-size: 43px;
	}
	#about .right{
		width: 55%;
	}
	#project .left ul{
		margin-top: 10px;
	}
	#newsletters .subcribe{
		width: 65%;
	}
	#project .left h5{
		font-size: 21px;
	}
	#project .left h4{
		font-size: 45px;
	}

	#contact .left h5{
		font-size: 20px;
	}
	#contact .left h4{
		font-size: 47px;
	}
	#contact .left li img{
		height: 52px;
	}
	#contact .right input{
		font-size: 20px;
	}

	#contact .right button{
		font-size: 16px;
		padding: 19px 32px;
	}


}
@media screen and (max-width:1280px){
	.wrapper{
		width: 87%;
	}
	header h1{
		font-size: 33px;
	}
	header nav ul{
		gap:20px;
	}
	header nav ul li{
		font-size: 14px;
	}
	nav ul li #srch{
		width: 30px;
		height: 30px;
		padding: 6px;
		font-size: 18px;
	}
	.spotlight h3{
		font-size: 19px;
	}
	.spotlight h2{
		font-size: 40px;
	}
	.spotlight ul button{
		padding: 10px 30px;
		font-size: 13px;
	}

	#about .left{
		width: 42%;
	}
	#about .left h5{
		font-size: 20px;
		margin-bottom: 20px;
	}
	#about .left h4{
		font-size: 35px;
	}
	#about .left ul{
		font-size: 18px;
		margin-bottom: 30px;
	}
	#about .left ul li img{
		width: 50px;
	}
	#about .left button{
		font-size: 15px;
		padding: 16px 30px;
	}
	
	#about .right{
		width: 55%;
	}
	#about .right p{
		font-size: 21px;
	}
	#features {
		padding: 180px 0px 0px 0px;
	}
	#features .wrapper{
		gap: 20px;
	}
	#features .item img{
		height: 45px;
	}
	#features ul{
		margin-left: 15px;
	}
	#features .item h4{
		font-size: 19px;
	}
	#features .item p{
		font-size: 19px;
	}
	#features .item a{
		font-size: 15px;
	}
	#newsletters .subcribe{
		width: 70%;
	}

	#newsletters ul input{
		font-size: 16px;
		height: 40px;
	}
	#newsletters ul button{
		font-size: 14px;
		padding: 0px 21px;
		height: 40px;
	}
	#newsletters h5{
		font-size: 18px;
		margin: 70px 0px 15px 0px;
	}
	#newsletters h4{
		font-size: 42px;
	}
	#newsletters p{
		font-size: 22px;
		margin: 30px 0px;
	}

	#project .wrapper{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	#project .left h5{
		font-size: 20px;
	}
	#project .left h4{
		font-size: 35px;
		text-align: center;
	}
	#project .left ul li a{
		font-size: 16.4px;
		white-space: nowrap;
	}

	#project .left{
		width: 100%;
		justify-content: center;	
		align-items: center;
		display: flex;
		flex-direction: column;
	}
	#project .right{
		width: 100%;		
		margin-top: 0px;
	}
	#project .left ul{
		display: flex;
		width: 100%;
		text-align: center;
		justify-content: space-between;
	}

	#project .left ul li a{
		font-size: 14px;
	}
	#team h5{
		font-size: 20px;
	}
	#team h4{
		font-size: 45px;
	}
	#team .members ul h6{
		font-size: 20px;
	}
	#team .members ul p{
		font-size: 15px;
	}
	#contact .left h5{
		font-size: 19px;
	}
	#contact .left h4{
		font-size: 45px;
	}
	#contact .left li img{
		height: 45px;
	}
	#contact .right input{
		font-size: 18px;
		height: 45px;
	}
	#contact .right [name=msg]{
		height: 160px;
		font-size: 18px;
	}
	#contact .right button{
		font-size: 15px;
		padding: 18px 30px;
	}
	footer .left,footer .wrapper .right p{
		font-size: 18px;
	}
	footer .wrapper .right ul li{
		width: 35px;
		height: 35px;
	}
	footer .wrapper .right ul li i{
		font-size: 15px;
	}
	
}

@media screen and (max-width:980px){
	#about{
		padding: 50px 0px;
	}
	
	#about .left{
		float: none;
		width: 100%;
	}


	#about .right{
		float: none;
		width: 90%;
	}
	hr{
		bottom:-5%
	}
	#features{
		padding: 80px 0px;
	}
	#features .item{
		width: 32%;
		margin-bottom: 20px;
		text-align: justify;
	}
	#features .item p{
		margin-bottom: 10px;
	}
	#about .left{
		width: 100%;
	}
	#about .left ul{
		justify-content: space-between;
	}

	#about .left ul li{
		width: auto;
		flex-wrap: nowrap;
		font-size: 18px;
		padding: 0%;
	}

	#about .left ul .space{
		margin-right: 0px;
	}
	#about .left ul li img{
		width: 50px;
		margin-right: 10px;
	}

	#about .right{
		width: 100%;
	}
	#features .item{
		width: 30%;
	}

	#features .wrapper{
		gap: 10px;
	}
	#features .item img{
		height: 35px;
	}
	#features ul{
		margin-left: 15px;
	}
	#features .item h4{
		font-size: 17px;
	}
	#features .item p{
		font-size: 16px;
		line-height: 20px;
	}
	#features .item a{
		font-size: 13px;
	}
	#newsletters{
		padding: 50px 0px;
	}
	#project {
		padding: 80px 0px;
	}
	#project .left ul{
		height: 80px;
		align-items: center;
		margin-bottom: 10px;
		
	}
	#team{
		padding: 50px 0px;
	}

	#contact{
		padding-top:50px;
	}
	#contact .left{
		width: 40%;
	}
	#contact .left h5{
		font-size: 17px;
	}
	#contact .left h4{
		font-size: 40px;
	}
	#contact .left li{
		font-size: 17px;
	}
	#contact .left li img{
		height: 40px;
	}

	#contact .right{
		width: 55%;
	}
	#contact .right input{
		font-size: 15px;
		height: 40px;
		margin-bottom: 20px;
		width: 100%;
	}
	#contact .right .input-space{
		margin-right: 0px;
	}
	#contact .right [name=msg]{
		height: 160px;
	}
	footer{
		margin:0px
	}
	footer .left,footer .wrapper .right p{
		font-size: 16px;
	}
	footer .wrapper .right ul li{
		width: 30px;
		height: 30px;
	}
	footer .wrapper .right ul li i{
		font-size: 13px;
	}
	
}

@media screen and (max-width:786px){
	.wrapper{
		width: 90%;
	}
	header{
		align-items: start;
	}
	
	header h1{
		font-size: 30px;
		line-height: 80px;
	}
	header nav{
		display: flex;
		position: absolute;
		right: 0%;
		top: 70px;
		width: 200px;
		line-height: 50px;
	}

	nav:hover ul{
		display: inline-block;
		width: 100%;
	}
	header nav ul{
		display: none;
		background-color: rgba(15, 15, 15, 0.8);
	}


	header button{
		display: flex;
		margin-top: 20px;
	}

	header nav ul li{
		font-size: 12px;
		display: flex;
		justify-content: center;	

	}
	header nav ul li:hover{

	}
	nav ul li #srch{
		width: 25px;
		height: 25px;
		padding: 5px;
		font-size: 15px;
	}
	.spotlight h3{
		font-size: 17px;
	}
	.spotlight h2{
		font-size: 35px;
	}
	.spotlight ul button{
		padding: 8px 25px;
		font-size: 12px;
	}


	#about .left h5{
		font-size: 18px;
		margin-bottom: 18px;
	}
	#about .left h4{
		font-size: 30px;
	}
	#about .left ul b{
		font-size: 15px;
	}
	#about .left ul{
		margin-bottom: 10px;
	}
	#about .left ul li img{
		width: 40px;
	}
	#about .left button{
		font-size: 15px;
		padding: 12px 20px;
	}
	#about .right p{
		font-size: 19px;
	}
	#features .wrapper{
		flex-wrap: wrap;
	}
	#features .item{
		width: 100%;
	}

	#team h5{
		font-size: 18px;
	}
	#team h4{
		font-size: 42px;
	}
	#team .members ul h6{
		font-size: 18px;
	}
	#team .members ul p{
		font-size: 13px;
	}
	#team{
		margin: 50px 0px 0px 0px;
		padding: 40px 0px;
	}
	#contact .right button{
		font-size: 13px;
		padding: 15px 25px;
	}
	footer{
		padding: 50px 0px 0px 0px;
	}

	footer .wrapper{

		display: block;
		line-height: 50px;
	}

	footer .wrapper .right{
		float:none;
	
	}
	footer .left{
		float: none;
	}


}

@media screen and (max-width:640px){
	#about .left ul{
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	#newsletters ul{
		display:flex;
		flex-direction: column;
		justify-content: center;
		margin-bottom: 50px;
	}
	#newsletters .subcribe{
		width: 85%;;
	}
	#newsletters ul .qwer{
		width: 100%;
		margin-bottom: 10px;
	}
	#newsletters ul .qwer input{
		width: 100%;
		box-sizing: border-box;
	}

	#project .left ul{
		display: inline-block;

	
	}
	#project .left ul li{
		justify-content: left;
		margin: 20px 0px;
	
	}
	#project .right{
		margin-top: 150px;
		grid-template-columns: 1fr 1fr;
	}
	#team .wrapper .members{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 30px;
	}
	#team .members ul{
		width: 90%;
		margin-bottom: 30px;
	}

	#contact .wrapper{
		flex-direction: column;
	}
	#contact .left{
		width: 90%;
	}
	#contact .right{
		width: 90%;
		margin-top: 20px;
	}
	
}

@media screen and (max-width:480px){
	#project .right{
		grid-template-columns: 1fr;
	}
	#about .left ul{
		grid-template-columns: 1fr;
	}
	footer .left{
		font-size: 14px;
	}

}

@media screen and (max-width:360px){

}

@media screen and (max-width:340px){

}